body {
	width: 42em;
	margin: 0 auto 0 150px;
}

h1, h2 {
  text-align: center;
}

span.date {
	color: #aaa;
	font-size: small;
}

#post {
	text-align: justify;
}
#post p.meta {
  font-size: x-small;
  text-align: right;
  margin-top: -2em;
}
#post pre {
  background-color: #f7f7f7;
  color: black;
  padding: 1ex 0;
}


#nav {
  color: gray;
  background-color: white;
  font-weight: bold;
}
#nav ul,
#nav ul li {
  padding: 0;
  list-style: none;
  display: inline;
}
#nav a {
  text-decoration: none;
  color: black;
  background-color: #ccc;
  padding: 5px;
}

.highlight .k {
  color: blue;
}

.highlight .p {
  color: #aaa;
}

.highlight .nv {
  font-weight: bold;
}

.highlight .nn {
  color: green
}

