<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
	<title>{{ page.title }}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel=stylesheet type="text/css" href="/style.css">
	<link rel=alternate  type="application/atom+xml" href="/atom.xml" title="Latest posts">
	<link rel="shortcut icon" type="image/png" href="http://frihjul.net/st/cog.png">

 </head>
<body>
<a href="http://github.com/noss"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub" /></a>
	<h1>Christian Sunesson</h1>

{{ content }}


